<section>
	<div class="container">
		<div  class="row pt-5">
			<div class="col-12 col-md-6">

			<!-- <div class="col-12 col-md-4">
				<div>
					<img src="/assets/2W0A8727.jpg" class="img-thumbnail" >
				</div>
			</div>
			<div class="col-12 col-md-8">
				<p style="font-weight: bolder;">About Bruce Nathan MacKenzie</p>
				<p>Bruce has  an experience of over 8 years from both training and hands on with works spanning from TV,Film and Video Production for lots of clients.Moreover Bruce has been a part time lecturer for film,TV and sound design at a leading East African school;Africa Media Institute.Bruce is also a founding director of Bruce designs a fashion line that deals with luxury male and female apparels.Bruce is also a great leader out of the office and is involved in youth mentorship and fellowship.He is a director at World Encounter Ministries International (WEMI) a christian fellowship and mentroship for the youth. </p>
			</div> -->
			<div class="card testimonial-card">

			    <!--Bacground color-->
			    <div class="card-up indigo lighten-1">
			    </div>

			    <!--Avatar-->
			    <div class="avatar mx-auto white"><img src="/assets/brucethumb.png" class="img-thumbnail rounded-circle" style="height: 120px;width: 120px;">
			    </div>

			    <div class="card-body">
			        <!--Name-->
			        <h4 class="card-title">Bruce Nathan MacKenzie <small>CEO,Projects Manager </small></h4>
			        <hr>
			        <!--Quotation-->
			        <p style="font-weight: bolder;">About Bruce</p>
			        <p>Bruce has  an experience of over 8 years from both training and hands on with works spanning from TV,Film and Video Production for lots of clients.Moreover Bruce has been a part time lecturer for film,TV and sound design at a leading East African school;Africa Media Institute.Bruce is also a founding director of Bruce designs a fashion line that deals with luxury male and female apparels.Bruce is also a great leader out of the office and is involved in youth mentorship and fellowship.He is a director at World Encounter Ministries International (WEMI) a christian fellowship and mentroship for the youth. </p>
			    </div>

			</div>

		</div>

		</div>
	</div>
</section>
