<!-- <section>
	<div class="container">
		<div class="row">
			<h1 class="pt-5">OUR WORK</h1>
			<p class="lead">
				We design & create digital projects for clients all around the globe. While we’re continuously working on exciting new projects, we love to share some of our proudest moments.
			</p>
		</div>
	</div>
</section>


<section class="jumbo3 p-4">
	<div class="container">
		<div class="row text-center ">
			<div class="card col-12 col-md-4" style="width: 15em;">
			  <img class="card-img-top" src="/assets/clients/Deutsche_Welle(1).png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>


			<div class="card col-12 col-md-4"  style="width: 15em;">
			  <img class="card-img-top" src="/assets/clients/Deutsche_Welle(1).png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>


			<div class="card col-12 col-md-4" style="width: 15em;" >
			  <img class="card-img-top" src="/assets/clients/Deutsche_Welle(1).png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
			
			
		</div>
	</div>
</section>  -->
<section class="jumbo6">
	<div class="container"></div>
</section>